@charset "UTF-8";
@font-face {
  font-family: 'Intro';
  src: url("../fonts/Intro-Book.otf");
  font-weight: normal;
  font-style: normal; }
/*  V A R I A B L E S  */
/*  B A S I C S  */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0; }

body {
  font-family: "PT Sans Caption", Arial, sans-serif;
  color: #1e1e1e;
  font-size: 16px;
  line-height: 22px; }

a {
  color: #a75533;
  text-decoration: none;
  border-bottom: solid 1px rgba(167, 85, 51, 0.3); }
  a:hover {
    color: #ff6e00;
    border-bottom-color: rgba(255, 110, 0, 0.3); }
  a.hovered {
    color: #ff6e00;
    border-bottom-color: rgba(255, 110, 0, 0.3); }
  a.scroll-link {
    border-bottom-style: dashed; }

p {
  margin-top: 10px; }

h1 {
  font-family: "Intro", Arial, sans-serif;
  font-size: 48px;
  line-height: 75px; }

h2 {
  font-family: "Intro", Arial, sans-serif;
  font-size: 36px;
  line-height: 36px; }

h3 {
  font-family: "Intro", Arial, sans-serif;
  font-size: 24px;
  line-height: 28px; }

h4 {
  font-family: "PT Sans Caption", Arial, sans-serif;
  font-weight: normal;
  font-size: 21px;
  line-height: 30px; }

.card {
  display: inline-block;
  vertical-align: top;
  width: 300px;
  margin-right: 20px;
  margin-bottom: 30px;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2); }
  .card .card-photo img {
    width: 100%; }
  .card .card-content {
    padding: 20px 5px; }
    .card .card-content .card-header {
      margin-left: 15px; }
    .card .card-content .card-tags {
      margin-top: 10px;
      margin-left: 15px;
      font-size: 14px;
      color: #a75533; }
      .card .card-content .card-tags a {
        display: inline-block;
        vertical-align: top;
        border-bottom: none;
        color: #a75533; }
        .card .card-content .card-tags a:hover {
          color: #ff6e00; }
    .card .card-content .card-items {
      margin-top: 10px;
      margin-bottom: 20px; }
      .card .card-content .card-items .card-item {
        display: block;
        border-bottom: none;
        padding: 5px 10px 5px 15px;
        border-radius: 4px;
        line-height: 21px;
        font-size: 0; }
        .card .card-content .card-items .card-item .checkmark {
          display: inline-block;
          vertical-align: top;
          width: 0px;
          height: 15px;
          background-image: url("../images/checkmark.svg");
          background-repeat: no-repeat;
          background-size: 15px 15px;
          margin-right: 0px;
          transition: margin-right .1s ease, width .1s ease; }
        .card .card-content .card-items .card-item .item {
          display: inline-block;
          vertical-align: top;
          font-size: 14px; }
          .card .card-content .card-items .card-item .item .item-unit {
            margin-left: 10px;
            font-size: 11px;
            color: #a75533;
            text-transform: uppercase;
            letter-spacing: 1px; }
        .card .card-content .card-items .card-item .item-price {
          font-size: 14px; }
        .card .card-content .card-items .card-item:hover {
          background-color: rgba(255, 110, 0, 0.1); }
        .card .card-content .card-items .card-item.checked {
          color: #ff6e00; }
          .card .card-content .card-items .card-item.checked .checkmark {
            width: 15px;
            margin-right: 3px; }
    .card .card-content .card-logo {
      margin-top: 10px;
      margin-left: 15px; }
      .card .card-content .card-logo img {
        height: 30px; }

textarea:focus, input:focus, select:focus, button {
  outline: none; }

input[type=button], input[type=submit] {
  border: 0;
  cursor: pointer;
  background: grey;
  color: #fff;
  height: 33px;
  padding-top: 0;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 10px;
  margin-right: 20px;
  margin-top: 10px;
  border-radius: 4px;
  border-top: 3px solid transparent;
  font: 16px/22px "PT Sans Caption", Arial, sans-serif;
  -webkit-appearance: none;
  background-color: #4b230f; }
  input[type=button]:hover, input[type=submit]:hover {
    background-color: #a75533; }
  input[type=button]:active, input[type=submit]:active {
    border-top: 3px solid #4b230f;
    padding-top: 4px; }
  input[type=button]:disabled, input[type=submit]:disabled {
    background-color: grey; }

input[type=text], input[type='password'], input[type='email'], input[type='tel'] {
  width: 100%;
  box-sizing: border-box;
  padding: 9px 9px 6px;
  border: 2px solid rgba(230, 220, 210, 0.5);
  border-radius: 4px;
  font-size: 16px;
  font-family: "PT Sans Caption", Arial, sans-serif;
  color: #4b230f; }
  input[type=text]:focus, input[type='password']:focus, input[type='email']:focus, input[type='tel']:focus {
    border-color: #e6dcd2; }
  input[type=text].invalid, input[type='password'].invalid, input[type='email'].invalid, input[type='tel'].invalid {
    border-color: red;
    color: red; }

textarea {
  box-sizing: border-box;
  width: 100%;
  border: 2px solid rgba(230, 220, 210, 0.5);
  border-radius: 4px;
  padding: 9px;
  font-size: 16px;
  font-family: "PT Sans Caption", Arial, sans-serif;
  color: #4b230f;
  resize: none; }
  textarea:focus {
    border-color: #e6dcd2; }

select {
  width: 100%;
  color: #4b230f;
  border: 2px solid rgba(230, 220, 210, 0.5);
  border-radius: 4px;
  background: transparent;
  background-image: url("../images/select-arrow.svg");
  background-size: 30px;
  background-position: right 3px;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: "PT Sans Caption", Arial, sans-serif;
  font-size: 16px;
  padding: 9px 8px 6px 8px; }
  select:hover {
    background-position: right -22px;
    cursor: pointer; }

form {
  width: 85%;
  min-width: 800px;
  border-radius: 6px;
  color: #4b230f;
  box-shadow: 0px 2px 10px 0px rgba(180, 170, 160, 0.6); }
  form .form-body {
    padding: 40px 50px 40px 30px; }
    form .form-body .order-table {
      display: table;
      margin-bottom: 25px; }
      form .form-body .order-table .order-table-row {
        display: table-row; }
        form .form-body .order-table .order-table-row > div {
          display: table-cell;
          padding: 10px 0 5px 10px;
          border-bottom: 1px solid #e6dcd2; }
          form .form-body .order-table .order-table-row > div:nth-child(1) {
            width: 60%;
            padding: 10px 20px 5px 0; }
          form .form-body .order-table .order-table-row > div:nth-child(2) {
            padding: 5px 0;
            width: 6%; }
            form .form-body .order-table .order-table-row > div:nth-child(2) input[type=tel] {
              width: 60px;
              border: none;
              font-size: 21px;
              font-family: "PT Sans Caption", Arial, sans-serif;
              color: #4b230f;
              background-color: rgba(230, 220, 210, 0.5);
              padding: 2px 1px 1px 5px; }
          form .form-body .order-table .order-table-row > div:nth-child(3), form .form-body .order-table .order-table-row > div:nth-child(4) {
            width: 17%;
            text-align: right;
            position: relative;
            font-size: 21px; }
      form .form-body .order-table .order-table-header {
        display: table-row;
        font-size: 14px; }
        form .form-body .order-table .order-table-header > div {
          display: table-cell;
          width: 100px; }
          form .form-body .order-table .order-table-header > div:nth-child(3), form .form-body .order-table .order-table-header > div:nth-child(4) {
            text-align: right; }
    form .form-body .order-table-bottom {
      margin-top: 25px;
      margin-bottom: 35px;
      text-align: right; }
      form .form-body .order-table-bottom .order-table-bottom-row {
        margin-bottom: 10px; }
        form .form-body .order-table-bottom .order-table-bottom-row .order-table-bottom-label {
          display: inline-block;
          text-align: left;
          width: 90px; }
        form .form-body .order-table-bottom .order-table-bottom-row .order-table-bottom-value {
          display: inline-block;
          font-size: 21px;
          width: 130px; }
    form .form-body fieldset {
      margin-top: 20px; }
      form .form-body fieldset .order-comment textarea {
        margin-top: 10px;
        margin-right: 10px;
        width: 90%;
        height: 100px;
        color: #4b230f; }
      form .form-body fieldset .form-row {
        margin-top: 10px;
        font-size: 0; }
        form .form-body fieldset .form-row .form-label {
          display: inline-block;
          vertical-align: top;
          width: 20%;
          padding-top: 10px;
          font-size: 16px; }
        form .form-body fieldset .form-row .form-item {
          display: inline-block;
          vertical-align: top;
          width: 220px; }
          form .form-body fieldset .form-row .form-item.wide {
            width: 70%; }
  form .form-footer {
    background-color: rgba(230, 220, 210, 0.5);
    padding: 30px 30px 50px; }
    form .form-footer .form-button {
      display: inline-block;
      vertical-align: top;
      margin-left: 20%; }
    form .form-footer .form-button-caption {
      display: inline-block;
      vertical-align: top;
      margin-top: 16px; }
  form .rouble {
    position: relative;
    margin-left: 3px; }
    form .rouble::after {
      position: absolute;
      left: 0px;
      top: 15px;
      width: 11px;
      border-top: 2px solid #4b230f;
      content: ''; }
  form .order-button {
    margin-top: 20px; }
    form .order-button a {
      display: inline-block;
      padding: 7px 25px;
      color: white;
      background-color: #4b230f;
      border-bottom: none;
      border-radius: 4px; }
      form .order-button a:hover {
        background-color: #a75533; }

.page-wrapper {
  width: 75%;
  min-width: 960px;
  margin: 2%; }

.header {
  color: #a75533; }
  .header .logo {
    display: inline-block;
    vertical-align: top;
    width: 124px;
    height: 124px;
    background-image: url("../images/vilcomlogo.png");
    background-size: 100%;
    border-bottom: none; }
  .header a.logo:hover {
    background-position: 0 -124px;
    border-bottom: none; }
  .header .menu {
    display: inline-block;
    vertical-align: top;
    margin-top: 17px;
    width: 80%; }
    .header .menu .menu-item {
      display: inline-block;
      vertical-align: top;
      margin-left: 15px;
      margin-bottom: 7px; }
      .header .menu .menu-item a {
        color: #a75533;
        border-bottom-color: rgba(167, 85, 51, 0.3); }
        .header .menu .menu-item a:hover {
          color: #ff6e00;
          border-bottom-color: rgba(255, 110, 0, 0.3); }

.content {
  margin-top: 50px;
  margin-left: 62px;
  max-width: 1200px; }
  .content .content-header {
    color: #4b230f; }
    .content .content-header a {
      color: #4b230f;
      border-bottom-color: rgba(75, 35, 15, 0.3); }
      .content .content-header a:hover {
        color: #ff6e00;
        border-bottom-color: rgba(255, 110, 0, 0.3); }
  .content p, .content h4 {
    width: 80%; }

.column {
  position: fixed;
  top: 0;
  right: 0;
  width: 20%;
  min-width: 240px;
  height: 100%;
  box-sizing: border-box;
  background-color: #ff6e00;
  padding-top: 2%;
  padding-left: 2%;
  padding-right: 2%;
  color: white; }
  .column a {
    color: white;
    border-bottom-color: rgba(255, 255, 255, 0.3); }
  .column .company-info {
    margin-top: 15px;
    margin-bottom: 15px; }
    .column .company-info .tel {
      margin-top: 10px;
      font-family: "Intro", Arial, sans-serif;
      font-size: 24px;
      line-height: 24px; }
  .column .order-block-container {
    margin-top: 17px;
    margin-bottom: 20px; }
    .column .order-block-container .order-block {
      display: none;
      overflow: hidden; }
      .column .order-block-container .order-block.active {
        display: inline-block; }
    .column .order-block-container .order-link {
      padding: 7px 25px;
      background-color: rgba(255, 160, 0, 0.7);
      border-radius: 4px; }
      .column .order-block-container .order-link:hover {
        background-color: #ffa000; }
    .column .order-block-container .order-info {
      padding: 10px 20px 20px 15px;
      border: 2px solid rgba(255, 255, 255, 0.3);
      border-radius: 6px; }
      .column .order-block-container .order-info .order-list {
        display: block;
        margin-bottom: 10px; }
        .column .order-block-container .order-info .order-list .order-list-item {
          margin-bottom: 2px; }
      .column .order-block-container .order-info .order-sum {
        margin-top: 20px;
        font-family: "Intro", Arial, sans-serif;
        font-size: 36px;
        line-height: 36px;
        border-top: 2px solid rgba(255, 255, 255, 0.3);
        padding-top: 10px; }
        .column .order-block-container .order-info .order-sum .rouble {
          position: relative; }
          .column .order-block-container .order-info .order-sum .rouble::after {
            position: absolute;
            left: 0;
            top: 22px;
            width: 21px;
            border-top: 2px solid white;
            content: ''; }
      .column .order-block-container .order-info .order-button {
        margin-top: 20px; }
        .column .order-block-container .order-info .order-button a {
          display: inline-block;
          padding: 7px 25px;
          color: white;
          background-color: rgba(255, 160, 0, 0.7);
          border-bottom: none;
          border-radius: 4px; }
          .column .order-block-container .order-info .order-button a:hover {
            background-color: #ffa000; }

.promoblocks {
  margin-top: 30px;
  margin-bottom: 50px;
  width: 90%;
  max-width: 900px;
  font-size: 0; }
  .promoblocks .promoblock {
    display: inline-block;
    vertical-align: top;
    width: 37%;
    margin-right: 3%;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 18px;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
    color: #4b230f;
    cursor: pointer; }
    .promoblocks .promoblock .promoblock-photo img {
      width: 100%;
      display: block; }
    .promoblocks .promoblock .promoblock-content {
      padding: 20px 20px; }
      .promoblocks .promoblock .promoblock-content a {
        color: #4b230f;
        border-bottom-color: rgba(75, 35, 15, 0.3); }
        .promoblocks .promoblock .promoblock-content a:hover {
          color: #ff6e00;
          border-bottom-color: rgba(255, 110, 0, 0.3); }
        .promoblocks .promoblock .promoblock-content a.hovered {
          color: #ff6e00;
          border-bottom-color: rgba(255, 110, 0, 0.3); }
      .promoblocks .promoblock .promoblock-content .promoblock-list {
        margin-top: 15px; }
        .promoblocks .promoblock .promoblock-content .promoblock-list > div {
          display: inline-block;
          vertical-align: top;
          margin-bottom: 5px;
          margin-right: 10px; }
    .promoblocks .promoblock.huge {
      width: 97%;
      position: relative; }
      .promoblocks .promoblock.huge .promoblock-photo {
        display: inline-block;
        vertical-align: top;
        text-align: right;
        overflow: hidden; }
        .promoblocks .promoblock.huge .promoblock-photo img {
          display: inline-block;
          width: 75%;
          margin-bottom: -10px; }
      .promoblocks .promoblock.huge .promoblock-content {
        width: 20%;
        position: absolute;
        top: 0;
        left: 0; }
        .promoblocks .promoblock.huge .promoblock-content .promoblock-list {
          margin-top: 15px;
          font-size: 16px;
          line-height: 20px; }
          .promoblocks .promoblock.huge .promoblock-content .promoblock-list > div {
            display: block;
            margin-bottom: 10px; }
    .promoblocks .promoblock.big {
      width: 57%; }
    .promoblocks .promoblock.small {
      width: 17%; }

.benefits {
  margin-top: 40px;
  color: #4b230f; }
  .benefits .benefit {
    width: 29%;
    display: inline-block;
    vertical-align: top;
    margin-right: 2%; }

.categories-menu {
  margin-top: 20px;
  margin-bottom: 60px; }
  .categories-menu .categories-menu-item {
    display: inline-block;
    vertical-align: top;
    width: 27%;
    margin-top: 10px;
    font-size: 20px;
    line-height: 24px; }

.category {
  margin-top: 40px; }
  .category .category-menu {
    margin-top: 20px;
    width: 80%; }
    .category .category-menu .category-menu-item {
      display: inline-block;
      vertical-align: top;
      margin-bottom: 5px; }
      .category .category-menu .category-menu-item a {
        display: inline-block;
        vertical-align: top;
        border-bottom: none; }
      .category .category-menu .category-menu-item::after {
        display: inline-block;
        vertical-align: top;
        font-size: 30px;
        margin-left: 12px;
        margin-right: 7px;
        opacity: .8;
        content: '◦'; }

.cards {
  margin-top: 30px; }

.footer {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  margin-top: 200px;
  padding-left: 2%;
  padding-bottom: 30px;
  color: #a75533; }
  .footer .logo {
    display: inline-block;
    vertical-align: top;
    width: 80px;
    height: 80px;
    background-image: url("../images/vilcomlogo.png");
    background-size: 100%; }
  .footer .description {
    width: 250px;
    display: inline-block;
    vertical-align: top;
    margin: 11px 30px 0 5px;
    font-size: 14px;
    line-height: 18px; }
  .footer .contact {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    line-height: 18px; }
    .footer .contact .tel {
      margin-top: 10px;
      font-family: "Intro", Arial, sans-serif;
      font-size: 18px;
      line-height: 21px;
      margin-bottom: 5px; }
    .footer .contact a {
      color: #a75533;
      border-bottom-color: rgba(167, 85, 51, 0.3); }
      .footer .contact a:hover {
        color: #ff6e00;
        border-bottom-color: rgba(255, 110, 0, 0.3); }
  .footer .copyright {
    position: absolute;
    z-index: 100;
    top: 0;
    right: 0;
    width: 20%;
    min-width: 240px;
    padding-left: 2%;
    box-sizing: border-box;
    color: white; }
