@import "bourbon";

@font-face {
  font-family: 'Intro';
  src: url('../fonts/Intro-Book.otf');
  font-weight: normal;
  font-style: normal;
}

/*  V A R I A B L E S  */

$primary-font: 'PT Sans Caption', Arial, sans-serif;
$secondary-font: 'Intro', Arial, sans-serif;

$text-colour: rgba(30, 30, 30, 1);

$link-colour: rgba(167,85,51,1);//rgba(42,127,221, 1);
$link-underline-colour: rgba(167,85,51,.3);//rgba(42,127,221, 0.3);
$link-hover-colour: rgba(255,110,0,1);
$link-hover-underline-colour: rgba(255,110,0,0.3);

$light-brown-colour: rgba(167,85,51,1);
$light-brown-colour-transparent: rgba(167,85,51,.3);

$grey-brown-colour: rgba(230,220,210,1);
$grey-brown-colour-transparent: rgba(230,220,210,.5);
$grey-brown-colour-dark: rgba(180,170,160,.6);

$dark-brown-colour: rgba(75,35,15,1);
$dark-brown-colour-transparent: rgba(75,35,15,.3);

$orange-colour: rgba(255,110,0,1);
$light-orange-colour: rgba(255,160,0,1);
$light-orange-colour-transparent: rgba(255,160,0,.7);
$light-orange-colour-transparent2: rgba(255,110,0,.1);


$white-transparent: rgba(255,255,255,0.3);

/*  B A S I C S  */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
  font-family: $primary-font;
  color: $text-colour;
  font-size: 16px;  
  line-height: 22px;

}

a {
	color: $link-colour;
	text-decoration: none;
	border-bottom: solid 1px $link-underline-colour;

	&:hover {
		color: $link-hover-colour;
		border-bottom-color: $link-hover-underline-colour;
	}
  &.hovered {
    color: $link-hover-colour;
    border-bottom-color:  $link-hover-underline-colour;
  }

  &.scroll-link {
    border-bottom-style: dashed; 
  }

}


p {
  margin-top: 10px;
}


h1 {
  font-family: $secondary-font;
  font-size: 48px;
  line-height: 75px;
}

h2 {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 36px;
}

h3 {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 28px;
}

h4 {
  font-family: $primary-font;
  font-weight: normal;
  font-size: 21px;
  line-height: 30px;
}




.base-container {


}






.card {
  display: inline-block; //временно, потом position: absolut и расставляющий по местам скрипт
  vertical-align: top;
  width: 300px;
  margin-right: 20px;
  margin-bottom: 30px;
  
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.2);



  .card-photo {

    img {
      width: 100%;
    }
  }

  .card-content {
    padding: 20px 5px;

    .card-header {
      margin-left: 15px;
    }

    .card-tags {
      margin-top: 10px;
      margin-left: 15px;
      font-size: 14px;
      color: $light-brown-colour;

      a {
        display: inline-block;
        vertical-align: top;
        border-bottom: none;
        color: $light-brown-colour;
        

        &:hover {
          color: $link-hover-colour;
        
        }

      }
    }

    .card-items {
      margin-top: 10px;
      margin-bottom: 20px;

      .card-item {
        display: block;
        border-bottom: none;
        padding: 5px 10px 5px 15px;
        border-radius: 4px;
        line-height: 21px;
        font-size: 0;

        .checkmark {
          display: inline-block;
          vertical-align: top;
          width: 0px; height: 15px;
          background-image: url('../images/checkmark.svg');
          background-repeat: no-repeat;
          background-size: 15px 15px;
          margin-right: 0px;
          transition: margin-right .1s ease, width .1s ease;

        }

        .item {
          display: inline-block;
          vertical-align: top;
          font-size: 14px;



          .item-unit {
            margin-left: 10px;
            font-size: 11px;
            color: $light-brown-colour;
            text-transform: uppercase;
            letter-spacing: 1px;
          }
        }

        .item-price {
          font-size: 14px;
        }

        &:hover {
          background-color: $light-orange-colour-transparent2;
        }

        &.checked {
          color: $link-hover-colour;

          .checkmark {
            width: 15px;
            margin-right: 3px;
          }
        }
      }
    }

    .card-logo {
      margin-top: 10px;
      margin-left: 15px;
      img {
        height: 30px;
      }
    }
  }

} 









textarea:focus, input:focus, select:focus, button{
    outline: none;  
}


input[type=button], input[type=submit] {
  border: 0;
  cursor: pointer;
  background: grey;
  color: #fff;
  height: 33px;
  padding-top: 0;
  padding-left: 20px;
  padding-right: 20px;

  margin-bottom: 10px;
  margin-right: 20px;
  margin-top: 10px;

  border-radius: 4px;
  border-top: 3px solid transparent;
  font: 16px/22px $primary-font;

  -webkit-appearance: none;

   background-color: $dark-brown-colour;

  
  &:hover {
   background-color: $light-brown-colour;
  }
  
  &:active {
    border-top: 3px solid $dark-brown-colour;
    padding-top: 4px;
  }
  
  &:disabled
  {
    background-color: grey;

  }

 

}


input[type=text], input[type='password'], input[type='email'], input[type='tel']  {
  width: 100%;
  box-sizing: border-box;
  padding: 9px 9px 6px;
  border: 2px solid $grey-brown-colour-transparent;
  
  border-radius: 4px;
  font-size: 16px;
  font-family: $primary-font;

  color: $dark-brown-colour;
  
    
    &:focus {
     border-color: $grey-brown-colour;
      
    }

    &.invalid {
      border-color: red;
      color: red;
  }
}

textarea {
  box-sizing: border-box;
  width: 100%;
  border: 2px solid $grey-brown-colour-transparent;
  border-radius: 4px;
  padding: 9px;
  font-size: 16px;
  font-family: $primary-font;
  color: $dark-brown-colour;

  resize: none;
  
  &:focus {
   border-color: $grey-brown-colour;
    
  }
}



select {
    width: 100%;
    //height: 38px;

    
    color: $dark-brown-colour;
    border: 2px solid $grey-brown-colour-transparent;
    border-radius: 4px;
    background: transparent;
    background-image: url('../images/select-arrow.svg');
    background-size: 30px;
    background-position: right 3px;
    background-repeat: no-repeat;
    
    
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    

    font-family: $primary-font;
    font-size: 16px;
    padding: 9px 8px 6px 8px;
    
    &:hover {
      
      background-position: right -22px;
      cursor: pointer;
    }

  
}



form {
  width: 85%;
  min-width: 800px;
  //border: 2px solid $grey-brown-colour-transparent;
  border-radius: 6px;
  color: $dark-brown-colour;

  box-shadow: 0px 2px 10px 0px $grey-brown-colour-dark;


  .form-body {
    padding: 40px 50px 40px 30px;


    .order-table {
      display: table;
      margin-bottom: 25px;

      .order-table-row {
        display: table-row;



        &>div {
          display: table-cell;
          padding: 10px 0 5px 10px;
          border-bottom: 1px solid $grey-brown-colour;

          &:nth-child(1) {
            width: 60%;
            padding: 10px 20px 5px 0;

          }
          &:nth-child(2) {

            padding: 5px 0;
            width: 6%;
            

            input[type=tel] {
              width: 60px;
              border: none;
              font-size: 21px;
              font-family: $primary-font;
              
              color: $dark-brown-colour;
              background-color: $grey-brown-colour-transparent;
              padding: 2px 1px 1px 5px;
              
            }

          }
          &:nth-child(3), &:nth-child(4) {
            width: 17%;
            text-align: right;
            position: relative;
            font-size: 21px;



          }
          
        }

      }

      .order-table-header {
        display: table-row;
        font-size: 14px;

        &>div {
          display: table-cell;
          width: 100px;

          &:nth-child(3), &:nth-child(4) {
            text-align: right;
          }
        }
      }


    }

    .order-table-bottom {
      margin-top: 25px;
      margin-bottom: 35px;

      text-align: right;
      

      .order-table-bottom-row {
        margin-bottom: 10px;

        .order-table-bottom-label {
          display: inline-block;
          text-align: left;
          width: 90px;
        }

        .order-table-bottom-value {
          display: inline-block;
          font-size: 21px;        
          width: 130px;
        }
        
      }


    }

    fieldset {
      margin-top: 20px;

      .order-comment {
        textarea {
          margin-top: 10px;
          margin-right: 10px;
          width: 90%;
          height: 100px;
          color: $dark-brown-colour;
        }
      }

      .form-row {
        margin-top: 10px;
        font-size: 0;

        .form-label {
          display: inline-block;
          vertical-align: top;
          width: 20%;
          padding-top: 10px;
          font-size: 16px;

        }
        .form-item {
          display: inline-block;
          vertical-align: top;
          width: 220px;

          &.wide {
            width: 70%;
          }
        }


      }
    }
  }

  .form-footer {
    background-color: $grey-brown-colour-transparent;
    padding: 30px 30px 50px;

    .form-button {
      display: inline-block;
      vertical-align: top;
      margin-left: 20%;




    }

    .form-button-caption {
      display: inline-block;
      vertical-align: top;
      margin-top: 16px;

      //color: $light-brown-colour;

    }
  }

  .rouble {
    position: relative;
    margin-left: 3px;
  
    &::after {
      position: absolute;
      
      left: 0px;
      top: 15px;
      width: 11px;

      border-top: 2px solid $dark-brown-colour;

      content: '';

    }

  }

  .order-button {
    margin-top: 20px;

    a {
      display: inline-block;
      padding: 7px 25px;
      color: white;
      background-color: $dark-brown-colour;
      border-bottom: none;
      border-radius: 4px;

      &:hover {
        background-color: $light-brown-colour;
      }

    }
  }
}


