@import "base";



// L A Y O U T 



.page-wrapper {
	width: 75%;
	min-width: 960px;

	margin: 2%;	


}




.header {


	color: $light-brown-colour;
	
	.logo {
		display: inline-block;
		vertical-align: top;
		width: 124px;
		height: 124px;
		background-image: url('../images/vilcomlogo.png');
		background-size: 100%; 
		border-bottom: none;
	}

	a.logo {
		&:hover {
			background-position: 0 -124px;
			border-bottom: none;
		}

	}


	.menu {
		display: inline-block;
		vertical-align: top;
		margin-top: 17px;
		width: 80%;

		.menu-item {
			display: inline-block;
			vertical-align: top;
			margin-left: 15px;
			margin-bottom: 7px;

			a {
				color: $light-brown-colour;
				border-bottom-color: $light-brown-colour-transparent;
				&:hover {
					color: $link-hover-colour;
					border-bottom-color: $link-hover-underline-colour;
				}
			}

		}

	}
}


.content {
	margin-top: 50px;
	margin-left: 62px;

	max-width: 1200px;

	.content-header {
		color: $dark-brown-colour;

		a {
			color: $dark-brown-colour;
			border-bottom-color: $dark-brown-colour-transparent;

			&:hover {
				color: $link-hover-colour;
				border-bottom-color: $link-hover-underline-colour;
			}
			
		}
	}

	p, h4 {
		width: 80%;

	}
}


.column {
	position: fixed;
	top: 0;
	right: 0;
	width: 20%;
	min-width: 240px;
	height: 100%;
	box-sizing: border-box;
	background-color: $orange-colour;
	padding-top: 2%;
	padding-left: 2%;
	padding-right: 2%;


	color: white;

	a {
		color: white;
		border-bottom-color: $white-transparent; 
	}




	.company-info {
		margin-top: 15px;
		margin-bottom: 15px;

		.tel {
			margin-top: 10px;
			font-family: $secondary-font;
			font-size: 24px;
			line-height: 24px;
		}
	}

	.order-block-container {
		margin-top: 17px;
		margin-bottom: 20px;



		.order-block {
			display: none;
			overflow: hidden;
			
			&.active {
				display: inline-block;	
				
			}

		}

		.order-link {
			padding: 7px 25px;
			background-color: $light-orange-colour-transparent;
			border-radius: 4px;

			&:hover {
				background-color: $light-orange-colour;
			}			
		}

		.order-info {
			padding: 10px 20px 20px 15px;
			border: 2px solid $white-transparent;
			border-radius: 6px;

			.order-list {
				display: block;
				margin-bottom: 10px;



				.order-list-item {
					margin-bottom: 2px;

				}
			}

			.order-sum {

				margin-top: 20px;
				font-family: $secondary-font;
				font-size: 36px;
				line-height: 36px;
				border-top: 2px solid $white-transparent;
				padding-top: 10px;

				.rouble {
					position: relative;


					&::after {
						position: absolute;
						left: 0;
						top: 22px;
						width: 21px;

						border-top: 2px solid white;

						content: '';

					}

				}
			}


			.order-button {
				margin-top: 20px;

				a {
					display: inline-block;
					padding: 7px 25px;
					color: white;
					background-color: $light-orange-colour-transparent;
					border-bottom: none;
					border-radius: 4px;

					&:hover {
						background-color: $light-orange-colour;
					}
				}
			}


		}
	}

}


/// M A I N 

.promoblocks {
	margin-top: 30px;
	margin-bottom: 50px;
	width: 90%;
	max-width: 900px;
	font-size: 0;

	.promoblock {
		display: inline-block; //временно, потом position: absolut и расставляющий по местам скрипт
		vertical-align: top;

		width: 37%;

		margin-right: 3%;
		margin-bottom: 30px;

		font-size: 14px;
		line-height: 18px;
		
		box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.2);

		color: $dark-brown-colour;
		cursor: pointer;

		.promoblock-photo {

			img {
			  width: 100%;
			  display: block;
			}
		}

		.promoblock-content {
			padding: 20px 20px;

			a {
				color: $dark-brown-colour;
				border-bottom-color: $dark-brown-colour-transparent;

				&:hover {
					color: $link-hover-colour;
					border-bottom-color: $link-hover-underline-colour;
				}

				&.hovered {
				  color: $link-hover-colour;
				  border-bottom-color:  $link-hover-underline-colour;
				}
				
			}	

			.promoblock-list {
				margin-top: 15px;

				>div {
					display: inline-block;
					vertical-align: top;
					margin-bottom: 5px;
					margin-right: 10px;

				}
			}
	
		}


		&.huge {
			width: 97%;
			position: relative;

			.promoblock-photo {
				display: inline-block;
				vertical-align: top;
				text-align: right;
				overflow: hidden;

				img {
					display: inline-block;
				  	width: 75%;
				  	margin-bottom: -10px;
				  
				}
			}

			.promoblock-content {
				width: 20%;
				position: absolute;
				top: 0;
				left: 0;

				.promoblock-list {
					margin-top: 15px;
					font-size: 16px;
					line-height: 20px;

					>div {

						display: block;
						margin-bottom: 10px;

					}
				}


			}
		}

		&.big {
			width: 57%;
		}

		&.small {
			width: 17%;
		}
	}
}


.benefits {
	margin-top: 40px;
	color: $dark-brown-colour;

	.benefit {
		width: 29%;
		display: inline-block;
		vertical-align: top;
		margin-right: 2%;

	}
}

///  C A T A L O G 

.categories-menu {
	margin-top: 20px;
	margin-bottom: 60px;

	.categories-menu-item {
		display: inline-block;
		vertical-align: top;
		width: 27%;
		margin-top: 10px;

		font-size: 20px;
		line-height: 24px;

	}
}

.category {

	margin-top: 40px;

	.category-menu {
		margin-top: 20px;
		width: 80%;
		.category-menu-item {
			display: inline-block;
			vertical-align: top;
			margin-bottom: 5px;

			a {
				display: inline-block;
				vertical-align: top;
				border-bottom: none;

			}
			&::after {
				display: inline-block;
				vertical-align: top;
				font-size: 30px;
				margin-left: 12px;
				margin-right: 7px;
				opacity: .8;
				content: '◦';

			}
		}
	}
}

.cards {
	margin-top: 30px;
	
}













.footer {
	position: relative;
	width: 100%;
	box-sizing: border-box;
	margin-top: 200px;
	padding-left: 2%;
	padding-bottom: 30px;
	color: $light-brown-colour;

	.logo {
		display: inline-block;
		vertical-align: top;
		width: 80px;
		height: 80px;
		background-image: url('../images/vilcomlogo.png');
		background-size: 100%; 
	}

	.description {
		width: 250px;
		display: inline-block;
		vertical-align: top;
		margin: 11px 30px 0 5px;
		font-size: 14px;
		line-height: 18px;
		

	}

	.contact {
		display: inline-block;
		vertical-align: top;

		font-size: 14px;
		line-height: 18px;

		.tel {
			margin-top: 10px;
			font-family: $secondary-font;
			font-size: 18px;
			line-height: 21px;
			margin-bottom: 5px;

		}

		a {
			color: $light-brown-colour;
			border-bottom-color: $light-brown-colour-transparent;

			&:hover {
				color: $link-hover-colour;
				border-bottom-color: $link-hover-underline-colour;
			}
		}

	}

	.copyright {
		position: absolute;
		z-index: 100;
		top: 0;
		right: 0;
		width: 20%;
		min-width: 240px;
		padding-left: 2%;
		box-sizing: border-box;

		color: white;

	}
}





/// O R D E R 



